---

import Layout from "@layouts/Layout.astro"
import "../style/global.css"
import ContactUs from "@components/ContactUs.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="sinisana-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title >SINISANA - Contact Us</title>
	</head>
	<Layout >
        <ContactUs />
	</Layout>
</html>