---
import InteractiveCarousel from "@components/ui/InteractiveCarousel"

---
<section class="container mx-auto flex flex-col items-center justify-center lg:mt-20 w-full lg:mb-20 lg:w-full md:w-full" >
    <p class="text-primarylogoColor font-bold pb-2 lg:ml-0 md:ml-0 ml-6"> TESTIMONIALS</p>
    <h1 class="lg:text-4xl md:text-3xl text-2xl text-center font-bold lg:pb-16 md:pb-14 pb-10 lg:ml-0 md:ml-0 ml-6">Our successful clients</h1>
    <InteractiveCarousel  client:load/>
  </section>