---

import { useRef } from "react";
import emailjs from '@emailjs/browser';
import ContactForm from "./ContactForm.jsx"


---

<section class="relative text-black lg:py-40 md:py-60 py-20 mb-10 items-center justify-center w-full h-full lg:w-full md:w-full md:h-full">    
    <div class="absolute inset-0 overflow-hidden flex items-center w-full px-2 h-full lg:w-full md:w-full md:h-full justify-center">
        <img
          class="w-full h-full lg:w-full md:w-full md:h-full object-cover self-center"
          src="/contact/contact-hero-section-bgimg.svg"
        />
        <div class="absolute inset-0 bg-black opacity-0"></div> <!-- Adds a dark overlay for better text visibility -->
      </div>
      <div class="relative container mx-auto flex flex-col  justify-center w-full lg:w-full md:w-full">
        <h1 class="lg:text-6xl md:text-5xl text-4xl font-bold text-white text-left font-header tracking-wider lg:w-[790px] w-auto lg:mb-7 md:mb-7">
            Energise your brand with data-driven product storytelling
        </h1>
        <p class="mt-6 lg:text-xl md:text-xl text-base font-light text-white lg:w-[790px]  lg:mb-7 w-auto md:mb-7 ">
            Get answers to the burning questions you have about your supply chain. Let's engage and find a solution that works for you.        </p>
      </div>
    </section>


    <section class="flex flex-col md:flex-row lg:flex-row w-auto lg:h-[865px] justify-center my-3 ">
        <!-- Contact Information -->
        <div class="w-full md:w-1/2 bg-black text-white p-8 lg:w-[531px] rounded-tl-2xl rounded-bl-2xl">
          <h2 class="lg:text-3xl md:text-3xl text-2xl font-bold mb-4 font-header text-center mt-10">Contact Information</h2>
          <p class="mb-4 text-center">Just write us a message!</p>
          
          <div class="space-y-10 pr-10 mt-28">
            <div class="mb-4 flex space-x-5"> 
                <img src="/icons/phone.svg"  class="self-start w-auto h-auto"/>
                <p class="text-xl">+1012 3456 789</p>
              </div>
              <div class="mb-4 flex space-x-5">
                <img src="/icons/email.svg" class="self-start w-auto h-auto" /> 
                <p class="text-xl">sinisana@gmail.com</p>
              </div>
              <div class="mb-4 flex space-x-5">
                <img src="/icons/location.svg" class="self-start w-auto h-auto"/>
                <p class="text-xl">Suite 22.22 Hock Kui Commercial Centre
                    Jalan Tun Ahmad Zaidi Adruce
                    93150, Kuching, Sarawak, Malaysia</p>
              </div>
          </div>

          <div class="flex space-x-4 mt-10 ml-10 ">
            <a href="https://www.linkedin.com/company/sinisana/" class="text-white"><img src="icons/linkedin.svg" /></a>
          </div>
        </div>
      
        <!-- Contact Form -->
        <div class="w-full md:w-1/2 bg-white lg:p-8 md:p-8 p-2 lg:w-[531px] rounded-tr-2xl rounded-br-2xl font-header">
          
          <ContactForm />
        </div>
      </section>
     
    
  
    
    


     

      