---
import { Fragment } from 'astro/jsx-runtime';
---

<footer class="bg-gradient-to-b bg-footercolor to-blue-300 text-white py-10 lg:ml-0 md:ml-0 ml-5 w-[430px] lg:w-full md:w-full">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center border-b border-white py-10">
        <div>
            <h2 class="text-2xl font-bold mb-4">SINISANA</h2>
            <p class="mb-6">Traceability solutions for brands that matter</p>
            <button class="bg-white text-blue-600 px-4 py-2 rounded-full">Contact us</button>
        </div>
        <div class="grid lg:grid-cols-3 grid-cols-1  mt-10 md:mt-0 ">
            <div class="col-span-1">
                <h3 class="font-semibold mb-4">Site Map</h3>
                <ul class="lg:ml-0 md:ml-0 ml-5">
                    <li><a href="/" class="hover:underline">Home</a></li>
                    <li><a href="/intersect" class="hover:underline">Intersect</a></li>
                    <li><a href="/events" class="hover:underline">Events</a></li>
                    <li><a href="/about" class="hover:underline">About Us</a></li>
                </ul>
            </div>
            <div class="col-span-1 mt-6 lg:mt-0 md:mt-0">
                <h3 class="font-semibold mb-4">Location</h3>
                <address class="lg:ml-0 md:ml-0 ml-5">
                    Suite 22-22 Hock Kui Commercial Centre<br />
                    Jalan Tun Ahmad Zaidi Adruce<br />
                    93150, Kuching, Sarawak, Malaysia
                </address>
            </div>
            <div class="col-span-1 lg:pl-10 pl-0 mt-6 lg:mt-0 md:mt-0">
                <h3 class="font-semibold mb-4">Follow Us</h3>
                <ul class="lg:ml-0 md:ml-0 ml-5">
                    <li><a href="#" class="hover:underline">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mt-10 text-xs">
        &copy; 2023 Sinisana Technologies
    </div>
</footer>
