---
import { Fragment } from 'astro/jsx-runtime';
---

<footer class=" justify-center items-center bg-footercolor text-white py-10 lg:ml-0 md:ml-0 ml-3 lg:w-full md:w-full">
    <div class="container mx-auto w-full flex flex-col md:flex-row justify-between items-center border-b border-white py-10">
        <div class="lg:mt-5">
            <img src="/sinisana-logo.svg" alt="Sinisana Logo" class="h-14 mb-8" />
            <p class="mb-6">Traceability solutions for brands that matter</p>
            <a href="/contact">
            <button class="bg-white text-primarylogoColor hover:text-white hover:bg-primarylogoColor px-4 py-2 rounded-sm">Contact us</button>
            </a>
        </div>
        <div class="grid lg:grid-cols-3 grid-cols-1  px-10   mt-10 md:mt-0 md:space-y-10 ">
            <div class="col-span-1 lg:mt-10">
                <h3 class="font-medium text-2xl mb-4 font-header">Site Map</h3>
                <ul class="lg:ml-0 md:ml-0 ml-5 space-y-3">
                    <li><a href="/" class="hover:underline">Home</a></li>
                    <li><a href="/industries" class="hover:underline">Industries</a></li>
                    <li><a href="/about" class="hover:underline">About Us</a></li>
                    <li><a href="/solutions" class="hover:underline">Solutions</a></li>
                </ul>
            </div>
            <div class="col-span-1 mt-6 lg:mt-0 md:mt-0 ">
                <h3 class="font-medium text-2xl mb-4 font-header">Location</h3>
                <address class="lg:ml-0 md:ml-0 ml-5">
                    Suite 22-22 Hock Kui Commercial Centre<br />
                    Jalan Tun Ahmad Zaidi Adruce<br />
                    93150, Kuching, Sarawak, Malaysia
                </address>
            </div>
            <div class="col-span-1 lg:ml-20 pl-0 mt-6 lg:mt-0 md:mt-0">
                <h3 class="font-medium text-2xl mb-4 font-header">Follow Us</h3>
                <ul class="lg:ml-0 md:ml-0 ml-5">
                    <li><a href="https://www.linkedin.com/company/sinisana/" class="hover:underline"><img src="icons/linkedin.svg"  /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mt-10 text-xl font-header">
       Copyright &copy; 2023 Sinisana Technologies
    </div>
</footer>
