---
const menuItems = [
  { name: 'Home', href: '/' },
  { name: 'Solutions', href: '/solutions' },
  { name: 'Industries', href: '/industries' },
  { name: 'About Us', href: '/about' },
  { name: 'Contact Us', href: '/contact' }
];

// Get the current pathname
const { pathname } = new URL(Astro.request.url);
---

<nav class="lg:bg-white border-b border-gray-300 ml-5 lg:ml-0 md:ml-0 w-full font-header font-medium">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="flex items-center">
      <img src="/sinisana-logo.svg" alt="Sinisana Logo" class="h-8 mr-2" />
    </div>
    <div class="lg:hidden ">
      <button id="menu-button" class="text-gray-700 focus:outline-none ">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <ul class="hidden lg:flex lg:space-x-12 space-x-1">
      {menuItems.map(item => (
        <li>
          <a href={item.href} class={`text-gray-700 hover:text-primarylogoColor hover:underline hover:font-semibold underline-offset-8 ${pathname === item.href ? 'text-primarylogoColor font-semibold underline' : ''}`}>
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
  <div id="mobile-menu" class="lg:hidden hidden">
    <ul class="space-y-2 px-4 py-2">
      {menuItems.map(item => (
        <li>
          <a href={item.href} class={`block text-gray-700 hover:text-primarylogoColor hover:font-semibold ${pathname === item.href ? 'text-primarylogoColor font-semibold' : ''}`}>
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>

<script>
  const menuButton = document.getElementById('menu-button');
  if (menuButton) {
    menuButton.addEventListener('click', () => {
      const menu = document.getElementById('mobile-menu');
      if (menu) {
        menu.classList.toggle('hidden');
      }
    });
  }
</script>
