---

---
<nav class="bg-white border-b border-gray-300">
    <div class="container mx-auto flex items-center justify-between py-4">
      <div class="flex items-center">
        <img src="/sinisana-logo.svg" alt="Sinisana Logo" class="h-8 mr-2" />
        
      </div>
      <ul class="flex lg:space-x-12 space-x-1">
        <li><a href="/" class="text-gray-700 hover:text-primarylogoColor hover:underline underline-offset-8">Home</a></li>
        <li><a href="/solutions" class="text-gray-700 hover:text-primarylogoColor hover:underline underline-offset-8 ">Solutions</a></li>
        <li><a href="/industries" class="text-gray-700 hover:text-primarylogoColor hover:underline underline-offset-8">Industries</a></li>
        <li><a href="/about" class="text-gray-700 hover:text-primarylogoColor hover:underline underline-offset-8">About Us</a></li>
        <li><a href="/contact" class="text-gray-700 hover:text-primarylogoColor hover:underline underline-offset-8">Contact Us</a></li>
      </ul>
    </div>
  </nav>