---
import { Button } from "./ui/button"
import SupportedIndustries from "@components/supportedInsudtries.astro"

const ServiceIndustries = [
  {
    icon: "/industries/icons/icon-food.svg",
    title: "Food & Beverage",
    detail: "Our tailored solutions for the food and beverage industry ensure the highest standards of quality and safety.",
  },
  {
    icon: "/industries/icons/icon-agriculture.svg",
    title: "Agriculture",
    detail: "Our services for the agricultural sector focus on promoting sustainable farming practices and improving yield efficiency.",
  },

  {
    icon: "/industries/icons/icon-manufacturing.svg",
    title: "Manufacturing",
    detail: "We offer solutions for the manufacturing industry that enhance operational efficiency and foster innovation.",
  },

  {
    icon: "/industries/icons/icon-electronic.svg",
    title: "Electronics",
    detail: "Our solutions for the electronics sector focus on enhancing product lifecycle management and ensuring quality control.",
  },

  {
    icon: "/industries/icons/icon-pharmaceuticals.svg",
    title: "Pharmaceuticals",
    detail: "Our specialized services for the pharmaceutical industry guarantee the highest levels of safety and compliance.",
  },

  {
    icon: "/industries/icons/icon-plantination.svg",
    title: "Plantations",
    detail: "We offer solutions for resource management, yield tracking, and compliance with environmental standards.",
  },

]

---

<section class=" flex justify-center items-center lg:my-5">

  <div class="grid lg:grid-cols-2 md:grid-cols-2 p-8">
    <div class="lg:w-[430px] w-full lg:pt-20 md:pt-14">
      <h1 class="text-2xl lg:text-5xl font-header font-bold mb-4 tracking-wider">Industries We Serve</h1>
              <p class="text-base lg:text-lg  font-normal"> Our specialized solutions cater to 
                a range of industries, addressing unique challenges and enhancing operational 
                efficiency. Discover how our innovative services can transform your business.</p>
                <a href="#support-industries">
                  <Button className="bg-primarylogoColor mt-4">
                    Explore More
                  </Button>
                </a>
          
    </div>
    <div class="grid grid-cols-2 space-x-2 lg:w-[517px] md:w-auto mt-4 lg:mt-0 md:mt-0">
      <div class="lg:w-[240px] lg:h-[234.82px] ml-2 w-auto h-auto ">
        <img src="/industries/industries-herosection-photo1.svg" class="rounded-tl-3xl hover:scale-105 transition-transform duration-300" />
      </div>
      <div class="lg:w-[240px] lg:h-[234.82px] ml-2 w-auto h-auto ">
        <img src="/industries/industries-herosection-photo2.svg" class="rounded-tr-3xl hover:scale-105 transition-transform duration-300" />
      </div>
      <div class="lg:w-[240px] lg:h-[234.82px] ml-2 w-auto h-auto mt-3 ">
        <img src="/industries/industries-herosection-photo3.svg" class="rounded-bl-3xl hover:scale-105 transition-transform duration-300"  />
      </div>
      <div class="lg:w-[240px] lg:h-[234.82px] ml-2 w-auto h-auto mt-3">
        <img src="/industries/industries-herosection-photo4.svg" class="rounded-br-3xl hover:scale-105 transition-transform duration-300"  />
      </div>
    </dv>

  </div>

</section>

<section class="flex flex-col items-center justify-center " id="support-industries">

<SupportedIndustries />



</section>

<section class="lg:px-60 pt-10 p-10" style="background-image: url('/industries/Industries-service-bgImg.svg');background-size: cover; background-position: center; background-repeat: no-repeat;">
  
  <p class="text-primarylogoColor text-left font-bold pb-2 "> SERVICES</p>
  <h1 class="lg:text-5xl md:text-3xl text-2xl font-bold pb-4 font-header tracking-wider lg:pr-80 lg:leading-relaxed ">Explore Our Tailored Industries</h1>

  <div class="grid lg:grid-cols-3 mt-4">

    {ServiceIndustries.map((data) =>(
      <div class="lg:w-[260px] mb-20">
        <img src={data.icon} class="w-14" />
        <h1 class="lg:text-3xl md:text-3xl text-2xl font-bold pb-4 font-header text-primarylogoColor mt-2 ">{data.title}</h1>
        <p>{data.detail}</p>
        <a href="/contact" class="font-header text- font-semibold flex text-primarylogoColor mt-3 ">
          More Detail  <img src="/industries/arrowIcon.svg" class="w-8 ml-2"/>
        </a>

      </div>
    ))

    }


  </div>

</section>