---
const imageSrc = [
  "/partner-MDEC.svg",
  "/partner-MTDC.svg",
  "/partner-NTNS.svg",
  "/partner-SDEC.svg",
  
]

---


  <p class="text-primarylogoColor font-bold pb-2 lg:ml-0 md:ml-0 ml-6">PARTNER</p>
  <h1 class="lg:text-4xl md:text-3xl text-2xl text-center font-header font-bold lg:pb-10 md:pb-10 pb-4 lg:ml-0 md:ml-0 ml-6">Supported By</h1>
  <div class="grid lg:grid-cols-4 grid-cols-1 gap-4 mx-auto lg:pb-24 md:pb-16 pb-2">
    {imageSrc.map((src) => (
      <div class="flex items-center justify-center p-4 mx-auto" >
        <img src={src} alt="Partner Logo" class="max-h-16 w-[251px] h-12 mx-auto" />
      </div>
    ))}
  </div>
