---

---

<section class="relative text-black py-64 mb-10 items-center justify-center w-[430px] h-full lg:w-full md:w-full md:h-full">
    <div class="absolute inset-0 overflow-hidden flex items-center w-[460px] px-2 h-full lg:w-full md:w-full md:h-full justify-center">
      <img
        class="w-[480px] h-full lg:w-full md:w-full md:h-full object-cover self-center"
        src="/images/home-hero-bgimg.svg"
      />
      <div class="absolute inset-0 bg-black opacity-30"></div> <!-- Adds a dark overlay for better text visibility -->
    </div>
    <div class="relative container mx-auto flex flex-col items-center justify-center w-full lg:w-full md:w-full">
      <h1 class="text-5xl font-bold text-white lg:px-96 self-center justify-center lg:mb-7 md:mb-7">Ensuring <span>Sustainability</span></h1>
      <h1 class="text-5xl font-bold text-white lg:px-96 self-center justify-center lg:mb-7 md:mb-7">
          in Your Supply Chain</h1>
      <p class="mt-6 text-lg text-white lg:mb-7 md:mb-7">
        Leveraging Blockchain Technology for Food Security, Compliance, and Sustainability
      </p>
      <a href="#learnmore">
        <button class="bg-primarylogoColor mt-6 text-white py-2 px-4 rounded">Learn More</button>
      </a>
    </div>
  </section>