---
import { Button } from "./ui/button";
import ClientTestimonial from "@components/ClientTestimonial.astro"

const solutionBlock = [
  {
    icon:"/foodSecurityIcon.svg",
    name : "Food Security",
    link: "#foodsecurity"
  },
  {
    icon:"/esgComplianceIcon.svg",
    name : "ESG Compliance",
    link: "#esg-compliance"
  },
  {
    icon:"/lifecycleTrackingIcon.svg",
    name : "Lifecycle Tracking",
    link: "#life-cycle-tracking",
  },
  {
    icon:"/halaBeefIcon.svg",
    name : "Halal Beef",
    link: "#halal-beef"
  },
]

---

<section class="relative text-black lg:py-40 md:py-60 py-20 mb-10 items-center justify-center w-full h-full lg:w-full md:w-full md:h-full">    
  <div class="absolute inset-0 overflow-hidden flex items-center w-full px-2 h-full lg:w-full md:w-full md:h-full justify-center">
      <img
        class="w-full h-full lg:w-full md:w-full md:h-full object-cover self-center  gradient-mask-t"
        src="/images/solution-hero-section-bgimg.svg"
      />
      <div class="absolute inset-0 bg-black opacity-0"></div> <!-- Adds a dark overlay for better text visibility -->
    </div>
    <div class="relative container mx-auto flex flex-col items-center justify-center w-full lg:w-full md:w-full">
      <h1 class="lg:text-6xl md:text-5xl text-4xl font-bold text-black text-center self-center font-header justify-center lg:mb-7 md:mb-7">Our Solutions</h1>
      <p class="mt-6 lg:text-2xl md:text-xl text-base lg:px-32 font-light text-black lg:mb-7 md:px-20 md:mb-7 text-center">
        Explore our comprehensive solutions designed to enhance transparency, sustainability, and efficiency across your supply chain.      </p>
      <a href="#case-study">
        <Button className="bg-primarylogoColor mt-6 text-white py-2 px-4 rounded">Explore More</Button>
      </a>
    </div>
    <div class="absolute lg:bottom-[-40px] md:bottom-[-20px] ipad-pro:bottom-[-40px] bottom-[-20px] left-0 right-0 items-center flex justify-center space-x-1 lg:space-x-5 md:space-x-4 ">
      {solutionBlock.map((block)=>(
      <a href={block.link}>
        <Button className="lg:w-72 md:w-44  ipad-pro:w-52 md:h-[80px] lg:h-[90px] lg:px-10 w-20 h-auto self-center shadow-slate-400 lg:space-x-2 md:space-x-2 ipad-pro:space-x-2 space-x-0 bg-white text-black rounded-none border shadow-md  hover:text-black hover:border-2 hover:shadow-lg hover:shadow-slate-500 hover:bg-white hover:scale-105 duration-300 transition-transform">
         <img src={block.icon} class="ipad-pro:w-24 lg:w-14 w-3 md:w-5" />
         <h1 class="lg:text-xl ipad-pro:text-base font-header lg:font-semibold md:text-base text-[7px]  ">
         {block.name}
          </h1>
        </Button>
      </a>
        
        
      ))
  
      }
      </div>
  </section>

  

  <section id="case-study" class="justify-center  items-center flex flex-col">
    
    
      <div class="flex items-center justify-center space-x-4 mt-10 lg:mt-20 lg:ml-0 md:ml-0 ml-6  w-full lg:w-full md:w-full">
          <div class="h-1 w-20 bg-gradient-to-r from-transparent via-blue-500 to-transparent rounded-r"></div>
          <h2 class="text-center lg:text-4xl md:text-2xl font-header font-bold">CASE STUDIES</h2>
          <div class="h-1 w-20 bg-gradient-to-r from-transparent via-blue-500 to-transparent rotate-180"></div>
        </div>
      
        <div class="item-center justify-center lg:px-20 md:px-20 px-4 lg:w-full md:w-full w-full  py-10">
          <p class="text-center text-base lg:text-2xl font-normal lg:px-14">
            9 in 10 consumers globally rate ingredient traceability as important or very important. It has become a key non-price purchase trigger that every brand must embrace. Learn more from our case studies showcasing how we are helping organizations meet this growing demand.
          </p>
        </div>
          <!--- Food security section -->
        <section class="flex flex-col md:flex-row items-center p-8 lg:my-10 md:my-10 my-2 lg:px-36 bg-light" id="foodsecurity">
          <div class="md:w-1/2 lg:w-1/3 ipad-pro:w-1/2 w-full md:pr-8">
            <h2 class="text-2xl lg:text-4xl font-header font-bold mb-4">Ensuring Food Safety and Quality</h2>
            <p class="text-base lg:text-xl font-normal">At Sinisana Technologies, we understand the critical importance of maintaining food security in today's global supply chains. Our advanced solutions are designed to monitor and safeguard food quality from production to consumption.</p>
          </div>
          <div class="md:w-1/2 lg:w-2/3 w-full ipad-pro:w-1/2 flex flex-wrap md:flex-nowrap gap-4 mt-8   md:mt-0">
            <div class="flex-1">
              <img src="/images/inspectingfood.svg" alt="Inspecting food" class="relative w-full hover:scale-105 transition-transform transform duration-300 lg:w-96 h-auto md:ml-24 lg:ml-24 lg:mt-14 md:mt-10 mt-0 object-cover rounded-md shadow-md">
            </div>
            <div class="flex-1">
              <img src="/images/farm.svg" alt="Farm" class="w-full lg:w-[500px] hover:scale-105 duration-300 transition-transform  h-auto object-cover rounded-md shadow-md">
            </div>
          </div>
        </section>
          <!--- ESG compliance section -->
        <section class="flex flex-col md:flex-row items-center p-8 lg:px-36 lg:my-10 md:my-10 my-2 bg-light" id="esg-compliance">
          <div class="md:w-1/2 lg:w-1/2 w-full ipad-pro:w-1/2  flex-wrap md:flex-nowrap gap-4 md:mt-0 lg:mr hidden lg:flex md:flex">
            <div class="lg:flex-auto  flex-1 lg:ml">
              <img src="/images/solution-ESG-photo1.svg" alt="Inspecting food" class="w-full  hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
            <div class="lg:flex-auto flex-1 lg:mr- md:mr-20">
              <img src="/images/solution-ESG-photo2.svg" alt="Farm" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
          </div>
          <div class="md:w-1/2 lg:w-1/2 ipad-pro:w-1/2 w-full md:pr-8">
            <h2 class="text-2xl font-header lg:text-4xl font-bold mb-4">Committed to Environmental, Social, and Governance Standards</h2>
            <p class="text-base lg:text-xl font-normal lg:pr-">Our ESG Compliance solutions help businesses navigate the complex landscape of environmental, social, and governance regulations. We offer tools and services that enable companies to measure, manage, and report their ESG performance.</p>
          </div>
          <div class="md:w-1/2 lg:w-1/2 mt-10 w-full ipad-pro:w-1/2 flex flex-wrap md:flex-nowrap gap-4 md:mt-0 lg:mr lg:hidden md:hidden">
            <div class="lg:flex-auto flex-1 lg:ml">
              <img src="/images/solution-ESG-photo1.svg" alt="Inspecting food" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
            <div class="lg:flex-auto flex-1 lg:mr-40">
              <img src="/images/solution-ESG-photo2.svg" alt="Farm" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
          </div>
        </section>
            <!--- Life cycle tracking section -->
        <section class="flex flex-col md:flex-row items-center p-8 lg:px-36 lg:my-10 md:my-10 my-2 bg-light" id="life-cycle-tracking">
          <div class="md:w-1/2 lg:w-1/3 ipad-pro:w-1/2 w-full md:pr-8">
            <h2 class="text-2xl lg:text-4xl font-header  font-bold mb-4">Lifecycle Tracking</h2>
            <p class="text-base lg:text-xl font-normal">Sinisana Technologies offers robust lifecycle tracking solutions for complete product visibility from creation to disposal. Our innovative allows businesses to monitor every stage, optimize processes, reduce waste, and ensure regulatory compliance.</p>
          </div>
          <div class="md:w-1/2 lg:w-2/3 w-full ipad-pro:w-1/2 flex flex-wrap md:flex-nowrap gap-4 mt-8   md:mt-0">
            <div class="flex-1">
              <img src="/images/solution-lifecycleTracking-photo1.svg" alt="Inspecting food" class="relative w-full hover:scale-105 transition-transform transform duration-300 lg:w-96 h-auto md:ml-24 lg:ml-24 lg:mt-14 md:mt-10 mt-0 object-cover rounded-md shadow-md">
            </div>
            <div class="flex-1">
              <img src="/images/solution-lifecycleTracking-photo2.svg" alt="Farm" class="w-full lg:w-[500px] hover:scale-105 duration-300 transition-transform  h-auto object-cover rounded-md shadow-md">
            </div>
          </div>
        </section>
          <!--- Halal Beef section -->
        <section class="flex flex-col md:flex-row items-center p-8 lg:px-36 lg:my-10 md:my-10 my-2 bg-light" id="halal-beef">
          <div class="md:w-1/2 lg:w-1/2 w-full ipad-pro:w-1/2  flex-wrap md:flex-nowrap gap-4 md:mt-0 lg:mr hidden lg:flex md:flex">
            <div class="lg:flex-auto  flex-1 lg:ml">
              <img src="/images/solution-Hala-photo1.svg" alt="Inspecting food" class="w-full  hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
            <div class="lg:flex-auto flex-1 lg:mr- md:mr-20">
              <img src="/images/solution-Hala-photo2.svg" alt="Farm" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
          </div>
          <div class="md:w-1/2 lg:w-1/2 ipad-pro:w-1/2 w-full md:pr-8">
            <h2 class="text-2xl lg:text-4xl font-header font-bold mb-4">Halal Beef</h2>
            <p class="text-base lg:text-xl font-normal lg:pr-">Our ESG Compliance solutions help businesses navigate the complex landscape of environmental, social, and governance regulations. We offer tools and services that enable companies to measure, manage, and report their ESG performance</p>
          </div>
          <div class="md:w-1/2 lg:w-1/2 w-full mt-10 ipad-pro:w-1/2 flex flex-wrap md:flex-nowrap gap-4 md:mt-0 lg:mr lg:hidden md:hidden">
            <div class="lg:flex-auto flex-1 lg:ml">
              <img src="/images/solution-Hala-photo1.svg" alt="Inspecting food" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
            <div class="lg:flex-auto flex-1 lg:mr-40">
              <img src="/images/solution-Hala-photo2.svg" alt="Farm" class="w-full hover:scale-105 transform transition-transform duration-300 lg:h-[417px]">
            </div>
          </div>
  
        </section>

        <div class="lg:space-y-2 md:space-y-2 p-8 mb-10">
          <div class=" flex flex-col lg:flex-row md:flex-row lg:space-x-7 md:space-x-7">
            <div class="lg:w-[340px] md:w-[340px] w-full lg:my-0 md:my-0 my-4">
              <h1 class="text-2xl lg:text-4xl font-header font-bold mb-4">Problem Statement</h1>
              <p class="text-base lg:text-xl text-justify font-normal">Sara-Bif, owned by PPES Ternak Sdn. Bhd., is a vertically-integrated beef producer with farms and abattoirs. They've expanded to large-scale farms in Australia and modern halal facilities in Sarawak, ensuring for high-quality beef domestic and export markets.</p>
            </div>
            <img class="w-auto h-auto hover:scale-105 transition-transform duration-300"  src="/images/solution-halaBeef-problemStatement.svg"/>
          </div>
          <div class=" flex flex-col lg:flex-row md:flex-row lg:space-x-7 md:space-x-7">
            <img class="w-auto h-auto hidden lg:block md:block mt-10 hover:scale-105 transition-transform duration-300"  src="/images/solution-halaBeef-problemSolution.svg"/>
            <div class="lg:w-[340px] md:w-[340px] w-full lg:my-0 md:my-0 my-4">
              <h1 class="text-2xl lg:text-4xl font-header font-bold mb-4">Our Solution</h1>
              <p class="text-base lg:text-xl text-justify font-normal"> Using Sinisana Intersect, we developed
                 web and mobile applications for Sara-Bif's supply chain, enabling data contribution from farms, 
                 abattoirs, and retail outlets. 
                Our solution includes tagging each cattle and beef cut for data integrity.</p>
            </div>
            <img class="w-auto h-auto lg:hidden md:hidden"  src="/images/solution-halaBeef-problemSolution.svg"/>
          </div>
        </div>
        

  

  </section>

  <ClientTestimonial />