---
import SupportedIndustries from "@components/ui/supportedIndustries"

---
<section class="container mx-auto flex flex-col items-center justify-center lg:mt-20 w-full lg:mb-20 lg:w-full md:w-full" >
    <p class="text-primarylogoColor text-center font-bold pb-2"> SECTORS</p>
    <h1 class="lg:text-4xl md:text-3xl text-2xl font-bold pb-4 font-header text-center">Supported Industries</h1>
    <SupportedIndustries  client:load/>
  </section>